@import "tailwindcss" important;
@source "./";

@theme static {
  --color-body-bg: var(--color-gray-800);
  --color-body-text: var(--color-blue-50);
  --color-h-text: var(--color-blue-100);
  --color-placeholder-text: var(--color-slate-400);
  --color-primary-element: var(--color-sky-700);
  --color-focus: var(--color-sky-700);
  --color-element-bg: var(--color-gray-700);
  --color-element-border: var(--color-gray-500);
  --color-highlight-bg: var(--color-slate-500);
}

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply bg-gray-800 text-blue-50 max-w-[100dvw] min-h-dvh
  }

  h1 {
    @apply text-3xl text-blue-100 mb-2;
  }

  h2 {
    @apply text-2xl text-blue-100 font-light mb-1;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply text-lg font-light;
  }

  a {
    @apply underline
  }

  *,
  *:after,
  *:before{
    box-sizing: border-box;
  }
}

@utility container {
  margin-inline: auto;
}
